*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family:'Poppins', sans-serif;
  background-color: rgb(55, 146, 251);
}

#root {
  height: 100%;
}

.App {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.AppTwo {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search-container {
  margin-top: 10px;
}

.main-display-container {
  display: flex;
  height: 660px;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.city-and-date-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3) ;
  padding: 20px;
  border-radius: 10px;
}

.city-name {
  font-size: 25px;
  margin-bottom: 10px;
  color: white
}

.date {
  font-size: 22px;
  font-weight: 500;
  color: white
}

.extra-info-container {
  display:grid;
  min-height: 150px;
  max-height: 300px;
  width:100%;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.3) ;
}

.mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.3) ;
}

.temp-and-description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.temperatures-container {
  display: flex;
  margin-bottom: 10px;
}

.extra-info-titles {
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
}

#temperature {
  font-size: 100px;
  color: white
}

#weather-description {
  font-size: 20px;
  color: white
}

#loading {
top: 50%;
position: absolute;
font-size: 30px;
font-weight: 600;
color: white
}

#error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  top: 25%;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  color: white
}

#mini-temp {
  font-weight: 600;
  font-size: 25px;
  color: white
}

#feels-like-temp {
  margin-left: 8px;
  font-weight: 500;
  font-size: 25px;
  color: white;
  opacity: 0.8;
}